body{
    font-family: Arial, Helvetica, sans-serif;
    color: #212842;
    background-color: #EAEAEA ;
    margin: 0;
    padding: 0;
    animation: cambiarcolor 5s infinite ease-in-out alternate;
}

@keyframes cambiarcolor {
    0% { background-color: #535151; }
    100% { background-color: #121212; }
}
header{
    background-color:#121212 ;
    color:#EAEAEA;
    text-align: center;
    padding: 20px;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    color: #EAEAEA;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2C2C2C;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input{
    border-radius: 4px;
    color: #EAEAEA;
    border: none;
    border-bottom: 2px solid #EAEAEA;
    background: transparent;
    padding: 8px 0;
}

input::placeholder{
    color: #EAEAEA;
    opacity: 0.7;
}

input:hover{
    border-bottom-color: #EAEAEA;
}

input:focus{
    outline: none;
    border-bottom-color: #EAEAEA;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #2C2C2C;
}

option{
    background-color: #2C2C2C;
    color: #EAEAEA;
    background-color: #2C2C2C;
}

span{
    color: #EAEAEA;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

button{
    background-color: #121212;
    color: #EAEAEA;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #2C2C2C;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #121212;
    color: #EAEAEA;
    margin-top: 20px;
    font-weight: 100;

}

